.columns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}
.columns span {
    margin: 0 auto;
}
.hidden {
    visibility: hidden;
}
.product-image img {
    width: 90px;
}
.product-quantity {
    display: flex;
    align-items: flex-end;
}
.botones {
    display: flex;
    justify-content: center;
    
}
h5.total-price {
    text-align: end;
    margin-right: 11.5rem;
    margin-top: 15px;
    font-weight: 700;
}
.cartDetail {
    width: 25px !important;
    height: 25px !important;
}
.remove-product {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.remove-product:hover {
    background-color: #66806A;
    color: #fff;
}
