.card {
    border: none !important;
}
#xs {
    font-size: 12px;
}
.card-img-top {
    border: 1px solid #eee;
    border-radius: 10px;
    width: 285px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.card-img-item {
    width: 500px;
}
.ButtonDetail {
    text-decoration: none;
    font-size: 16px;
    color: #fff !important;
    margin: 40px 95px;
    background-color:#66806A;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #66806A;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
} 
.ButtonDetail:hover {
    color: #66806A!important;
    background-color: #FFC286!important;
    border-color: #FFC286;
}
div.detail-card div.card-body {
    margin-bottom: 20px;
}
.Shop {
    background-color: #66806A !important;
    color: #eee !important;
    width: auto;
    height: auto;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.Shop:hover {
    background-color: #FFC286 !important;
    color: #66806A !important;
    width: auto;
    height: auto;
    padding: 5px 10px;
    border-radius: 10px;
}
.carousel-indicators > button {
    background-color: rgba(121, 121, 121, 0.842) !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.carousel-control-prev-icon, 
.carousel-control-next-icon {
    display: none;
}
@media screen and (max-width: 600px ) {
    .ButtonDetail {
        margin: 0;
        text-align: center;
        width: 120px;
        margin: 0 auto;
        transition: 0.5s all;
    }
    .ButtonDetail:hover {
        color: transparent!important;
        background-color: transparent!important;
        border: 1px solid #FFC286 !important;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
    .edad {
        margin: 20px 0 20px 0 !important;
    }
    .card-text {
        margin-bottom: 0 !important;
    }
    .Shop {
        position: absolute;
        bottom: 0;
        right: 35%;;
    }
    .card-body {
        margin-bottom: 50px !important;
    }
}