.empty-cart {
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
@media screen and (max-width: 600px) {
    .empty-cart {
        width: auto;
        margin: 20px auto;
    }
    .ec {
        color: #FFC286;
    }

}