@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: 'Recoleta';
    color: #66806A;
}

@font-face {
    font-family: 'Recoleta';
    src: url(./fuentes/Recoleta-RegularDEMO.otf);
}

p {
    font-family: 'Raleway', sans-serif; 
    text-align: left;
    font-size: 14px;
    letter-spacing: 0.25px;
}
a {
    text-decoration: none !important;
}
input {
    font-family: 'Raleway', sans-serif !important;
    font-size: 14px !important;
    padding: 10px !important;
}
h2 {
    text-align: center; 
    font-weight: 700 !important;
    text-transform: uppercase;
    margin: 20px 0 60px 0 !important;
}
small {
    font-family: 'Raleway', sans-serif; 
    font-size: 0.75rem;
}
