@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
 
* {
    font-family: 'Recoleta';
    color: #66806A;
}

@font-face {
    font-family: 'Recoleta';
    src: url(./fuentes/Recoleta-RegularDEMO.otf);
}

p {
    font-family: 'Lato', sans-serif; 
    text-align: left;
    font-size: 14px;
}

